button {
    background-color: aqua;
}

.chatButton {
    width: 30%;
    background-color: rgb(250, 145, 59);
}

.learn-words {
    margin-left: 35%;
    position: absolute;
    margin-top: 0%;
}

.learn-card {
    width: 100%;
    font-size: x-large;
}

.card-body {
    width: 500px;
    font-size: xx-large;
}

.reveal {
    margin-left: 30%;
}

.button-size {
    width:25%;
    margin: 5%;
}

.modalInput {
    width: 80%;
    float: right;
}

.get-started {
    width: 100% !important;
}

.content {
    width: 60%;
    margin: auto;
    margin-top: 2%;
}

.giphy {
    width: 500px;
    margin: auto;
}

.alerts {
    text-align: center;
    margin: auto;
    width: 60%;
}

.alerts-main-page {
    width: 40%;
    text-align: center;
    margin: auto;
}

.homepage-modal {
    margin: auto !important;
    margin-top: 2% !important;
}

.flagged-words {
    float: left;
    margin-left: 10% !important;
}

.logout {
    float: right;
    margin-right: 10% !important;
}

.meaning {
    font-size: medium;
}

.meaning-card {
    height: 65px !important;
}

.operations {
    margin-top: 5%;
}

.unflag-word {
    width: 70px;
    float: right;
    margin-right: 20%;
}

.choice-button {
    width: 75px !important; 
    height: 75px !important;
    border-radius: 40px !important;
    margin-left: 5%;
    margin-right: 5%;;
}
.xButton {
    float: right;
}

.learnt-words {
    float: left;
}

.progressBar {
    width: 40%;
    margin: auto;
}

.streak {
    width: 40%;
    margin: auto;
}

.leaderboard {
    width: 40%;
    margin: auto;
}

.progressBarValue {
    width: 80%;
    height: 30px;
    margin: auto;
}

.leaderBarValue {
    width: 80%;
    height: 15px;
    margin: auto;
}

.leaderboardKey {
    margin: auto;
    margin-left: 10%;
}

.progressBadgePosition {
    margin-left: 10%;
    font-size: x-large;
}

.learn-streak {
    margin: auto;
    margin-top: 5%;
    float: right;
    width: 20%;
}

.mouseChange {
    cursor: pointer;
}

@media only screen and (max-width: 1700px) {
    .learn-streak {
        margin: auto;
        margin-top: 5%;
        margin-right: -5%;
        float: right;
        width: 20%;
    }
}

@media only screen and (max-width: 1480px) and (min-width: 1400px) {
    .learn-streak {
        margin: 33% auto auto 37%;
        float: none;
        width: 30%;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1370px) {
    .learn-streak {
        margin: 34% auto auto 38%;
        float: none;
        width: 30%;
    }
}

@media only screen and (max-width: 1370px) and (min-width: 1270px) {
    .learn-streak {
        margin: 36% auto auto 39%;
        float: none;
        width: 30%;
    }
}

@media only screen and (max-width: 600px) {

    .homepage-modal {
        margin: auto !important;
        margin-top: 25% !important;
    }

    .learn-words {
        margin: auto;
        width: 110%;
        margin-top: 30%;
        padding: 5%;
    }

    .card-body {
        width: 80%;
        margin-left: 10%;
        font-size: xx-large;
    }

    .learn-card {
        width: 100%;
        font-size: xx-large;
    }

    .flagged-words {
        float: left;
        margin-left: 5% !important;
    }

    .alerts {
        width: 110%;
        text-align: center;
    }

    .content {
        width: 60%;
        margin: auto;
        margin-top: 10%;
    }

    .giphy {
        width: 250px;
        margin: auto;
    }

    .alerts-main-page {
        width: 80%;
        text-align: center;
        margin: auto;
    }

    .logout {
        float: right;
        margin-right: -5% !important;
    }

    .meaning {
        font-size: medium;
    }
    
    .button-size {
        width: 40%;
        margin: 5%;
    }

    .meaning-card {
        height: 100px !important;
    }

    .operations {
        margin-top: 15%;
    }

    .xButton {
        float: right;
    }

    .progressBar {
        width: 90%;
        margin: auto;
    }
    
    .progressBarValue {
        width: 90%;
        height: 20px;
        margin: auto;
    }
    
    .progressBadgePosition {
        margin-left: 10%;
        font-size: x-large;
    }

    .streak {
        width: 90%;
        margin: auto;
    }

    .learn-streak {
        margin: auto;
        margin-top: 155%;
        width: 90%;
    }

    .leaderboard {
        width: 90%;
        margin: auto;
    }
}