button {
    background-color: aqua;
}

.chatButton {
    width: 30%;
    background-color: rgb(250, 145, 59);
}

.learn-words {
    margin-left: 35%;
    position: absolute;
    margin-top: 0%;
}

.learn-card {
    width: 100%;
    font-size: x-large;
}

.card-body {
    width: 500px;
    font-size: medium;
}

.reveal {
    margin-left: 30%;
}

.button-size {
    width: 48%;
}